In [2]:
import numpy as np
import pandas as pd

In [5]:
#index levels
outside  = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index = list(zip(outside,inside))

In [7]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
from numpy.random import randn

In [25]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [24]:
df

                  A         B
group num
G1    1    2.129826 -0.962403
      2   -0.499679 -0.079141
      3   -0.896993  0.223644
G2    1   -1.957153 -1.542618
      2   -0.951300 -2.384214
      3    1.611696  0.117730

In [21]:
df.index.names = ['group','num']

In [22]:
df

                  A         B
group num
G1    1    2.129826 -0.962403
      2   -0.499679 -0.079141
      3   -0.896993  0.223644
G2    1   -1.957153 -1.542618
      2   -0.951300 -2.384214
      3    1.611696  0.117730

In [28]:
df.loc['G2'].loc[2]['B']

-0.5317217136345669

In [32]:
df.xs(1,level = 'num')

              A         B
group
G1    -1.521661  1.303038
G2    -0.903180  0.067170