# GETTING STARTED WITH PANDAS

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']

In [4]:
my_data = [10,20,30]
array = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = d)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(data =my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [7]:
ser1 = pd.Series([1,2,3],['spain','canada','india'])

In [8]:
ser1

spain     1
canada    2
india     3
dtype: int64

In [9]:
ser2 = pd.Series([1,2.7,3],['usa','spain','india'])

In [10]:
ser2

usa      1.0
spain    2.7
india    3.0
dtype: float64

In [11]:
ser1+ser2

canada    NaN
india     6.0
spain     3.7
usa       NaN
dtype: float64

#DATA FRAME

In [12]:
import numpy as np
import pandas as pd

In [13]:
from numpy.random import randn

In [14]:
np.random.seed(101)

In [15]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [16]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [18]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [19]:
df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

don't use the above method because sometimes it may cause confusion

In [20]:
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [27]:
df['new'] = df['x'] + df['y'] + df['z']

In [28]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  2.039928
b  0.651118 -0.319318 -0.848077  0.605965 -0.561430
c -2.018168  0.740122  0.528813 -0.589001  0.679935
d  0.188695 -0.758872 -0.933237  0.955057 -0.737053
e  0.190794  1.978757  2.605967  0.683509  5.268233

In [34]:
df.drop('a',axis=0)

          w         x         y         z       new
b  0.651118 -0.319318 -0.848077  0.605965 -0.561430
c -2.018168  0.740122  0.528813 -0.589001  0.679935
d  0.188695 -0.758872 -0.933237  0.955057 -0.737053
e  0.190794  1.978757  2.605967  0.683509  5.268233

In [35]:
df.drop('new',axis = 1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [36]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  2.039928
b  0.651118 -0.319318 -0.848077  0.605965 -0.561430
c -2.018168  0.740122  0.528813 -0.589001  0.679935
d  0.188695 -0.758872 -0.933237  0.955057 -0.737053
e  0.190794  1.978757  2.605967  0.683509  5.268233

In [39]:
df.drop('new',axis=1,inplace=True)

In [40]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [42]:
df.loc['c']

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [43]:
df.iloc[2]

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [46]:
df.loc['b','y']

-0.8480769834036315

In [48]:
df.loc[['a','c'],['w','x']]

          w         x
a  2.706850  0.628133
c -2.018168  0.740122