#Pandas Video 1

In [7]:
import numpy  as np
import pandas as pd

In [13]:
pd.Series(data =[1,2,3,4],index =['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [17]:
myD = {'e':20,'f' : 200,'g':2000,'h':15}

In [15]:
pd.Series(myD)

e      20
f     200
g    2000
h      15
dtype: int64

In [18]:
myseriesone = pd.Series([1,2,3,4,5],['a','b','c','d','e'])

In [19]:
myseriesone

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [21]:
myseriestwo = pd.Series([1,2,4,7,2],['a','b','c','f','e'])

In [22]:
myseriesone+myseriestwo

a    2.0
b    4.0
c    7.0
d    NaN
e    7.0
f    NaN
dtype: float64

In [23]:
myseriestwo['f']

7

##Video 2

In [1]:
from numpy.random import randn

In [22]:
mydata = randn(3,4)

In [20]:
myDataFrame = pd.DataFrame(mydata,['R1','R2','R3'],['C1' ,'C2','C3','C4'])

In [21]:
myDataFrame

          C1        C2        C3        C4
R1 -0.248717  0.814862  0.323842 -0.326868
R2  0.593207  1.345609  0.848466  0.064109
R3  1.361008 -0.189164  0.381486 -0.985064

In [23]:
myDataFrame['C5'] = myDataFrame['C1']*myDataFrame['C3']

In [24]:
myDataFrame

          C1        C2        C3        C4        C5
R1 -0.248717  0.814862  0.323842 -0.326868 -0.080545
R2  0.593207  1.345609  0.848466  0.064109  0.503316
R3  1.361008 -0.189164  0.381486 -0.985064  0.519205

In [26]:
myDataFrame.drop('C2')